{:deps {io.github.keychera/bantu {:local/root "."}}
 :bbin/bin {bantu {:main-opts ["-m" "serve"]}}
 :tasks {serve {:task serve/-main}
         panas.reload {:extra-deps {io.github.keychera/panas.reload {:git/sha "6324f8eafc02162a3580798df508bacba8d629bf"}}
                       :requires ([panas.reload] bantu.bantu)
                       :task (panas.reload/-main (var bantu.bantu/router)
                                                 {:url "localhost" :port 4242}
                                                 {:watch-dir "app"})}}}
